#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_lusocoin
#build/lusocoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_lusocoin)

DEB_INSTALL_EXAMPLES_lusocoind += debian/examples/*
DEB_INSTALL_MANPAGES_lusocoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix lusocoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f lusocoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake lusocoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_lusocoin
	src/test_lusocoin

# Ensure wrapper is set executable
binary-post-install/lusocoind:
	chmod +x $(cdbs_curdestdir)usr/bin/lusocoind
binary-post-install/lusocoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/lusocoin-qt
